.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #067eee;
  color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #111;
    color: #fff;
    border-bottom: 1px solid #333;
  }
  .avatar {
    background-color: #444;
  }
}
