.cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;

}

.statusLine {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}