.cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;

}

.mainInfo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.statusLine {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cardContent {
    font-size: 1rem; 
  }

  .mainInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
  }
}