.detailCard {
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  overflow: scroll;
  max-width: 700px;
  margin-top: 20px;
  color: #000;
}

.detailCard h2 {
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

.detailCard h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #000;
  border-bottom: 1px solid #808080;
  padding-bottom: 5px;
}

.infractionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infractionItem {
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
}

.infractionItem p {
  margin: 5px 0;
  color: #000;
  font-size: 0.9em;
}


.main {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 92vh;
  justify-self: center;
}
