.main {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 92vh;
  justify-self: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.form {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 30%;
  height: 35vh;
  flex-direction: column;
  margin: auto;
  border-radius: 12px;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
}

.inspectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 30px;
}

.inspectionHeader h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #fff;
}


@media (max-width: 768px) {
  .form {
    width: 90%; 
}
}