.actionsWrapper {
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin-top: 15px; 
  width: 100%;
}

@media (max-width: 768px) {
  .actionsWrapper {
    flex-direction: column;
    align-items: center; 
  }
}